@{
    ViewBag.Title = "About";
}
<div class="flaxDiv">
    <div class="asideDiv"></div>
    <div class="centerDiv">
        <nav>
            <ul id="aMenu">
                <li id="education">Education</li>
                <li id="career">Career</li>
                <li id="hobbies">Hobbies</li>
            </ul>
        </nav>
        <div id="aContent">
        </div>
    </div>
    <div class="asideDiv"></div>
</div>


