@{
    ViewBag.Title = "Contact";
}

<div class="flaxDiv">
    <div class="asideDiv"></div>
    <div class="centerDiv">
        <p>Please, contact me on:</p>
        <a href="" img=""></a>
    </div>
    <div class="asideDiv"></div>
</div>
