@{
    ViewBag.Title = "Home";
}
<div class="flaxDiv">
    <div class="asideDiv"></div>
    <div class="centerDiv">
        <p>Hello!</p>
        <p>This is my first web application and only the first version with simple Html, CSS, JavaScript code.</p>
        <p>I chose MVC 4 platform because of it'll be easier to improve this application with authorization,</p>
        <p>authentication, forum and playground in close future.</p>
        <p>In this version I introduced @Html.ActionLink("myself", "Contact", "Home"),
         my @Html.ActionLink("hobbies, proects, education, ", "About", "Home") and
         @Html.ActionLink("skills", "Education", "Home")</p>
    </div>
    <div class="asideDiv"></div>
</div>

